html, body, #container
{
	height: 100%;
}

*
{
	font-family: 'Merriweather', serif;
	box-sizing: border-box;
}

#header
{
	padding-left: 50px;
	padding-top: 25px;
	font-size: 40px;
	font-weight: bold;
	height: 25%;
	width: 100%;
}

.job
{
	font-size: 20px;
}

h1
{
	text-decoration: underline;
}

.lieu1
{
	text-align: right;
	padding-right: 80px;
}

#p1
{
	padding-left: 25px;
	position: absolute;
	height: 100%;
	width: 15%;
}

#p2
{
	padding-left: 30px;
	margin-left: 15%;
	position: absolute;
	height: 40%;
	width: 84.1%;
}

#p3
{
	padding-left: 30px;
	margin-top: 20.5%;
	margin-left: 15%;
	position: absolute;
	height: 60%;
	width: 84.1%;
}